RAKE = ENV['RAKE'] ? ENV['RAKE'] : 'rake'
# Multi-package project rakefile script.
require 'rake/clean'
require 'rake/packagetask'

[CLEAN, CLOBBER, Rake::FileList::DEFAULT_IGNORE_PATTERNS].each{|a| a.clear}
CLEAN.include("**/core*", "**/*~", "**/*.o", "**/*.log", ".coverage")
CLOBBER.include("build/*", "build/.??*")

def _get_task_opts(options={})
  require 'optparse'
  
  o = OptionParser.new do |opts|
    opts.banner = "Usage: #{RAKE} <opts_task> [options]"
    opts.on("-a OPTS", "--args OPTS") { |args| options[:args] = args }
  end
  options[:leftovers] = o.parse(o.order(ARGV) {})
  options
end

desc "Task example with opts: #{RAKE} _opts_task -- -a '-h'"
task :_opts_task do
  options = _get_task_opts #({ args: '' })
  puts "Options were: #{options[:args]}"
end

desc "Task example with args: #{RAKE} _args_task\[arg1,arg2\]"
task :_args_task, [:arg1] do |t, args|
  puts "Args were: #{args[:arg1]} #{args.extras.join(' ')}"
end

#sh "export PATH = #{ENV['PATH']}:`go env GOPATH`/bin"
sh "export GOPATH = `go env GOPATH`"

parent, version = '{{parent}}{{^parent}}introgo{{/parent}}', '{{version}}{{^version}}0.1.0{{/version}}'
SUBDIRS = ENV['SUBDIRS'] ? ENV['SUBDIRS'].split() : 'introutil intromain'.split()

desc 'configure \[opt1,opt2\]'
task :configure, [:opt1] do |task_name, opts|
  SUBDIRS.each { |dirX| 
    cd(dirX) { 
      sh "sh ./configure.sh #{opts[:opt1]} #{opts.extras.join(' ')}" } }
end

desc "Default target: #{RAKE} help"
task :default => [:help]

desc "Help info"
task :help do |task_name|
  SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} #{task_name}" } }
  puts "##### Top-level multiproject: #{parent} #####"
  puts "Usage: #{RAKE} [SUBDIRS=#{SUBDIRS.join(' ')}] [task]"
  sh "#{RAKE} -T"
end

task :subclean do
	SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} clean" } }
end
task :subclobber do
	SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} clobber" } }
end
task :clean => [:subclean]
task :clobber => [:subclobber]

[['build', 'Compile target(s): rake build\[opt1,opt2\]'],
  ['testCompile', 'Compile test target(s): rake testCompile\[opt1,opt2\]'],
  ['uninstall', 'Uninstall product(s): rake uninstall\[opt1,opt2\]'],
  ['install', 'Install product(s): rake install\[opt1,opt2\]']
].each do |name_txt, desc_txt|
  desc desc_txt
  task :"#{name_txt}", [:opt1] do |task_name, opts|
    SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} #{task_name}\\[#{opts[:opt1]},#{opts.extras.join(',')}\\]" } }
  end
end

desc 'Run test(s): rake test\[topt1,topt2\]'
task :test, [:topt1] do |task_name, topts|
  SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} #{task_name}\\[#{topts[:topt1]},#{topts.extras.join(',')}\\]" } }
end

#----------------------------------------
file "build/#{parent}-#{version}" do |p|
  mkdir_p(p.name)
  # sh "zip -9 -q --exclude @exclude.lst -r - . | unzip -od #{p.name} -"
  sh "tar --format=posix --dereference --exclude-from=exclude.lst -cf - . | tar -xpf - -C #{p.name}"
end

if defined? Rake::PackageTask
  Rake::PackageTask.new(parent, version) do |p|
    task("build/#{parent}-#{version}").invoke
    cp_r("build/#{parent}-#{version}", 'build/pkg/', :remove_destination => true) || true
    
    ENV.fetch('FMTS', 'tar.gz,zip').split(',').each{|fmt|
      if p.respond_to? "need_#{fmt.tr('.', '_')}="
        p.send("need_#{fmt.tr('.', '_')}=", true)
      else
        p.need_tar_gz = true
      end
    }
    task(:package).add_description "[FMTS=#{ENV.fetch('FMTS', 'tar.gz,zip')}]"
    task(:repackage).add_description "[FMTS=#{ENV.fetch('FMTS', 'tar.gz,zip')}]"
  end
  
  task :subpackage do
	SUBDIRS.each {|dirX| cd(dirX) {sh "#{RAKE} package"}}
  end
  task :subrepackage do
	SUBDIRS.each {|dirX| cd(dirX) {sh "#{RAKE} repackage"}}
  end
  task :package => :subpackage
  task :repackage => :subrepackage
else
  desc "[FMTS=#{ENV.fetch('FMTS', 'tar.gz,zip')}] Package project distribution"
  task :package => ["build/#{parent}-#{version}"] do |t|
    distdir = "#{parent}-#{version}"
    
    ENV.fetch('FMTS', 'tar.gz,zip').split(',').each{|fmt|
      case fmt
      when '7z'
        rm_rf("build/#{distdir}.7z") || true
        cd('build') {sh "7za a -t7z -mx=9 #{distdir}.7z #{distdir}" || true}
      when 'zip'
        rm_rf("build/#{distdir}.zip") || true
        cd('build') {sh "zip -9 -q -r #{distdir}.zip #{distdir}" || true}
      else
        #tarext = `echo #{fmt} | grep -e '^tar$' -e '^tar.xz$' -e '^tar.zst$' -e '^tar.bz2$' || echo tar.gz`.chomp
        tarext = fmt.match(%r{(^tar$|^tar.xz$|^tar.zst$|^tar.bz2$)}) ? fmt : 'tar.gz'
        rm_rf("build/#{distdir}.#{tarext}") || true
        cd('build') {sh "tar --posix -h -caf #{distdir}.#{tarext} #{distdir}" || true}
      end
    }
    rm_rf("build/#{distdir}") || true
    SUBDIRS.each {|dirX| cd(dirX) {sh "#{RAKE} #{task_name}"}}
  end
end

[['doc', 'Generate API documentation(s): rake doc\[opt1,opt2\]'],
  ['lint', 'Lint check(s): rake lint\[opt1,opt2\]'],
  ['report', 'Report code coverage(s)']
].each do |name_txt, desc_txt|
  desc desc_txt
  task :"#{name_txt}", [:opt1] do |task_name, opts|
    SUBDIRS.each { |dirX| cd(dirX) { sh "#{RAKE} #{task_name}\\[#{opts[:opt1]},#{opts.extras.join(',')}\\]" } }
  end
end

[['run', 'Run main: rake run\[arg1,arg2\]'],
  ['debug', 'Debug main : rake debug\[arg1,arg2\]'],
  ['valgrind', 'Valgrind main : rake valgrind\[arg1,arg2\]']
].each do |name_txt, desc_txt|
  desc desc_txt
  task :"#{name_txt}", [:arg1] do |t, args|
    cd('app') { 
      sh "#{RAKE} #{task_name}\\[#{args[:arg1]},#{args.extras.join(',')}\\]" }
  end
end
